@{
    var prevDisabled = !Model.HasPrevious ? "disabled" : "";
    var nextDisabled = !Model.HasNext ? "disabled" : "";
}
<a id="prev" class="btn btn-dark @prevDisabled" asp-action="Index" asp-route-Page="@(Model.PageIndex - 1)">
    <<
</a>
<a id="next" class="btn btn-dark @nextDisabled" asp-action="Index" asp-route-Page="@(Model.PageIndex + 1)">
    >>
</a>