@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is test project, maded for education. It doesnt use any private information.</p>
<p>Please don't use any real data (like email and password), instead use domain example.com</p>
